/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body {
  padding: 30px;
  background-color: #ffffff;
}

#style-selector {
  position: fixed;
  background-color: #7a0019;
  left: 0;
  right: 0;
  top: 0;
  height: 46px;
  padding-top: 10px;
}

#style-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#style-selector li {
  float: left; /*explore what happens if this is 'right' instead*/
}

#style-selector li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
}

/* Change the link background color to #000 (black) on hover */
#style-selector li a:hover {
  background-color: #000;
}
